*{
    font-family: sans-serif;
}
body{
    background-color: #252525;
    padding: 0px;
}
.ttl-index{
    width: 100%;
    height: auto;
    padding: 1px;
    background-color: #1b1c1e;
}
.ttl-index h1{
    color: gainsboro;
}
.ttl-index hr{
    color: black;
}
.main-index{
    width: 100%;
    height: auto;
}
.main-index a{
    text-decoration: none;
}
.main-index button{
    padding: 5px;
    margin-top: 30px;
    border-radius: 10px;
    width: 30%;
    background-color: #2b2b2b;
    color: gainsboro;
}
.main-index button:hover{
    background-color: #252525;  
}